<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpaceSyncDelay</key>
	<string>60</string>
	<key>SpaceResultLimit</key>
	<string>20</string>
	<key>SpaceBaseUrl</key>
	<string>https://lldev.thespacedevs.com/2.2.0</string>
	<key>GoogleAdBannerId</key>
	<string>ca-app-pub-7337873881009900/5207247612</string>
</dict>
</plist>
